@{
    Layout = null;
}
<html>
<head>
    <meta charset="UTF-8" />
    <title>Корпоративная система</title>
</head>
<body>
    <div id="content"></div>
	<script src="add.js"></script>
</body>
</html>
