@{
    Layout = null;
}
<html>
<head>
    <meta charset="UTF-8" />
    <title>Корпоративная система</title>
</head>
<body>
    <input id="employeeId" value="@ViewBag.Id" style="display: none;" />
    <div id="content"></div>
    <script src="../edit.js"></script>
</body>
</html>
